@charset "utf-8";

.fc-0 {
  color: #000000;
}

.fc-1 {
  color: #111111;
}

.fc-2 {
  color: #222222;
}

.fc-3 {
  color: #333333;
}

.fc-4 {
  color: #444444;
}

.fc-5 {
  color: #555555;
}

.fc-6 {
  color: #666666;
}

.fc-7 {
  color: #777777;
}

.fc-8 {
  color: #888888;
}

.fc-9 {
  color: #999999;
}

.fc-a {
  color: #aaaaaa;
}

.fc-b {
  color: #bbbbbb;
}

.fc-c {
  color: #cccccc;
}

.fc-d {
  color: #dddddd;
}

.fc-e {
  color: #eeeeee;
}

.fc-f {
  color: #ffffff;
}

.fc-sys1 {
  color: #957b00;
}

.fc-sys2 {
  color: #674c0c;
}

.fc-sys3 {
  color: #624b0c;
}

.fc-sys4 {
  color: #ea504b;
}

.fc-sys5 {
  color: #e5bf76;
}

.fc-sys6 {
  color: #ee8630;
}

.fc-sys7 {
  color: #5aa1ed;
}

.fc-sys8 {
  color: #060606;
}

.fc-sys9 {
  color: #ec723b;
}

.fc-sys10 {
  color: #f7d15e;
}
