@charset "utf-8";

.fw-b {
  font-weight: bold;
}

.fw-600 {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

.fs-1 {
  font-size: 0.02rem;
}

.fs-2 {
  font-size: 0.04rem;
}

.fs-3 {
  font-size: 0.06rem;
}

.fs-4 {
  font-size: 0.08rem;
}

.fs-5 {
  font-size: 0.1rem;
}

.fs-6 {
  font-size: 0.12rem;
}

.fs-7 {
  font-size: 0.14rem;
}

.fs-8 {
  font-size: 0.16rem;
}

.fs-9 {
  font-size: 0.18rem;
}

.fs-10 {
  font-size: 0.2rem;
}

.fs-11 {
  font-size: 0.22rem;
}

.fs-12 {
  font-size: 0.24rem;
}

.fs-13 {
  font-size: 0.26rem;
}

.fs-14 {
  font-size: 0.28rem;
}

.fs-15 {
  font-size: 0.3rem;
}

.fs-16 {
  font-size: 0.32rem;
}

.fs-17 {
  font-size: 0.34rem;
}

.fs-18 {
  font-size: 0.36rem;
}

.fs-19 {
  font-size: 0.38rem;
}

.fs-20 {
  font-size: 0.4rem;
}

.fs-21 {
  font-size: 0.42rem;
}

.fs-22 {
  font-size: 0.44rem;
}

.fs-23 {
  font-size: 0.46rem;
}

.fs-24 {
  font-size: 0.48rem;
}

.fs-25 {
  font-size: 0.5rem;
}

.fs-26 {
  font-size: 0.52rem;
}

.fs-27 {
  font-size: 0.54rem;
}

.fs-28 {
  font-size: 0.56rem;
}

.fs-29 {
  font-size: 0.58rem;
}

.fs-30 {
  font-size: 0.6rem;
}

.fs-31 {
  font-size: 0.62rem;
}

.fs-32 {
  font-size: 0.64rem;
}

.fs-33 {
  font-size: 0.66rem;
}

.fs-34 {
  font-size: 0.68rem;
}

.fs-35 {
  font-size: 0.7rem;
}

.fs-36 {
  font-size: 0.72rem;
}

.fs-37 {
  font-size: 0.74rem;
}

.fs-38 {
  font-size: 0.76rem;
}

.fs-39 {
  font-size: 0.78rem;
}

.fs-40 {
  font-size: 0.8rem;
}

.fs-42 {
  font-size: 0.84rem;
}

.fs-45 {
  font-size: 0.9rem;
}

.fs-52 {
  font-size: 1.04rem;
}

.fs-78 {
  font-size: 1.56rem;
}
